* {
    user-select: none; /* Prevent text selection */
    font-family: Arial, sans-serif;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('assets/digital-clock.ttf');
   }

.root {
    background-color: rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    border-radius: 5px;
    height: 750px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
}


/* --- General --- */
.rotate-button {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #676767;
    border: none;
    cursor: pointer;
}

.mini-rotate-button {
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: #676767;
    border: none;
    cursor: pointer;
}

.start-message {
    font-size: 250%;
    font-family: Monaco;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --- Button and knobs section --- */
.buttons {
    background-color: rgb(82, 61, 42);
    height: 38%;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    margin: auto;
}

.left-buttons {
    /*border: 3px solid black;*/
    width: 55%;
    display: flex;
    flex-direction: column;
}

.right-buttons {
    /*border: 3px solid black;*/
    width: 45%;
    display: flex;
    flex-direction: column;
    border-left: 3px solid rgb(30, 30, 30);
}

.main-section {
    width: 100%;
    height: 69%;
    display: flex;
}

.header-section {
    margin-bottom: 10px;
    font-size: 110%;
}

.text-button {
    font-size: 80%;
}

/* All subblocks of the main knob section */
#osc1, #osc2, #mixer, #lfo, #lpf {
    width: 100%;
    height: 100%;
    color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#osc2, #lfo, #mixer {
    border-right: 3px solid rgb(30, 30, 30);
}

.margin-rotate-btn {
    margin-bottom: 12px;
}

.margin-mini-rotate-btn {
    margin-bottom: 22px;
}

.env-knobs {
    width: 100%;
    display: flex;
}

 /* Whole env blocks */
[id$="env"] {
    width: 100%;
    height: 33%;
    color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid rgb(30, 30, 30);
}

 /* All blocks (text+knob) whithout the header */
[id$="block"] {
    width: 100%;
    height: 100%;
    color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upload_download_section {
    width: 100%;
    height: 32%;
    display: flex;
    align-items: center;
}

#download_btn, #upload_btn {
    background-color: rgb(179, 124, 35);
    height: 50%;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}

#download_btn:hover, #upload_btn:hover {
    background-color: rgb(140, 98, 30);
}

.modulation-section {
    border-top: 3px solid rgb(30, 30, 30);
    width: 100%;
    height: 33%;
    color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mod-knobs {
    width: 85%;
    display: flex;
}

/* --- Controls section --- */
.controls {
    height: 7%;
    width: 90%;
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;
}

#mode_button {
    background-color: rgb(123, 123, 123);
    height: 100%;
    width: 8%;
    border-radius: 10px;
    margin: auto;
    margin-left: 5px;
    margin-right: 150px;
    cursor: pointer;
}

#mode_button:hover {
    background-color: rgb(93, 93, 93);
}

#play_button {
    background-color: rgb(0, 176, 3);
    height: 100%;
    width: 8%;
    border-radius: 10px;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

#play_button:hover {
    background-color: rgb(1, 151, 3);
}

.octave-btn {
    background-color: rgb(189, 189, 189);
    height: 100%;
    width: 6%;
    border-radius: 10px;
    margin: auto;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    font-size: 45%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;


}

#screen {
    background-color: rgb(42, 27, 0);
    border: 2px solid rgb(20, 20, 20);
    color: rgb(255, 0, 0);
    font-family:'digital-clock-font';
    font-size: 120%;
    height: 100%;
    width: 12%;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#tempo_button {
    background-color: #c30000 !important;
}





/* --- Play section --- */
.play-section {
    background-color: grey;
    height: 45%;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    justify-content: space-between;
    text-align: center;
}

.keyboard {
    height: 60%;
    border-radius: 10px;
    display: flex;
}

.selectors {
    height: 15%;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
}

.upload {
    height: 10%;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
}

.select-button {
    background-color: rgb(251, 255, 0);
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-button:hover {
    background-color: rgb(194, 197, 2);
}

.upload-button {
    background-color: rgb(82, 61, 42);
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-button:hover {
    background-color: rgb(66, 49, 34);
}


.key {
    background-color: rgb(253, 173, 25);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.key:hover {
    background-color: rgb(203, 140, 24);
}

.step {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.note {
    background-color: rgb(255, 249, 238);
    height: 7.2%;
    width: 100%;
    border-radius: 8px;
    margin: auto;
    border: 2px solid grey;
    cursor: pointer;
}

.note:hover {
    background-color: rgb(193, 189, 181);
}

.black-note {
    background-color: rgb(16, 16, 16);
}

.black-note:hover {
    background-color: rgb(41, 41, 41);
}

.led-on {
    background-color: rgb(255, 0, 0) !important;
}

.led {
    background-color: rgb(96, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin: auto;
    margin-top: 5px;
}

.step-leds {
    height: 10%;
    border-radius: 10px;
    display: flex;
}

.step-led {
    background-color: rgb(96, 58, 0);
    height: 10px;
    width: 20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
}

.step-led-on {
    background-color: rgb(255, 221, 0) !important;
}