.keyboard {
    background-color: grey;
    width: 90%;
    border-radius: 10px;
    height: 110px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.red-key {
    background-color: rgb(255, 106, 0);
    height: 100px;
    width: 50px;
    border-radius: 10px;
}

.led-on {
    background-color: rgb(223, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin: auto;
    margin-top: 5px;;
}