.keyboard {
    width: 100%;
    border-radius: 20%;
    height: 150px;
}

.key {
    background-color: rgb(255, 106, 0);
    height: 100px;
    width: 50px;
    border-radius: 10%;
    text-align: center;
    position: absolute;
}

#D {
    left: 70px;
}

#E {
    left: 130px;
}

#F {
    left: 190px;
}

#G {
    left: 250px;
}

#A {
    left: 310px;
}

#B {
    left: 370px;
}